  * {
    /*outline: 1px solid black;*/
  }
  body, html {
    margin: 0 auto;
  }
  body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    /*font-family: 'Molle',cursive;*/
    color: rgba(195, 182, 0, 1);
  }
  .icon-bar {
    background-color: white !important;
  }
  .intro-message >p {
    color: black;
  }
  .blackdiv {
    background: black;
    border: 1px solid black;
  }
  .golddiv {
    background: rgba(237, 200, 103, 0.91);
    border: 2px solid rgba(237, 200, 103, 0.91);
  }
  .blackstripe {
    background: black;
    border: 40px solid black;
  }
  .colorStripe {
    background: rgb(233, 28, 118);
    border: 60px solid rgb(233, 28, 118);
  }
  #blackstripe1 {
    border: 5px solid #0E0E00;
  }
  #blackstripe2 {
    border: 5px solid #0F0F00;
  }
  #blackstripe3 {
    border: 5px solid #272719;
  }
  #blackstripe4 {
    border: 5px solid #3F3F33;
  }
  #blackstripe5 {
    border: 5px solid #57574D;
  }
  section.galery {
    padding: 50px 50px 50px 50px;
    background: #000000 no-repeat center center fixed;
    background: linear-gradient(120deg, #0fa9a8,#bb58df);
    background-size: cover;
    height: auto;
    min-height: 100vh;
    box-sizing: border-box;
  }
  #galeria {
    position: relative;
    top: 0px;
  }
  @media (orientation:portrait) {
    section.galery {
      height: auto;
    }
  }
  .topnav {
    font-size: 16px;
    background: rgba(28, 28, 28, 1);
    color: #fff;
  }
  /*right top*/

  .topnav ul.navbar-nav li a {
    background: rgba(28, 28, 28, 0.5);
    color: #fff;
  }
  .topnav ul.navbar-nav li a:hover, .topnav ul.navbar-nav li a:focus {
    background: rgba(255, 255, 255, 1);
    color: #000;
  }
  /*left top */

  .topnav .navbar-brand {
    background: rgba(28, 28, 28, 0.5);
    color: #fff;
    letter-spacing: 0.5em;
  }
  .topnav .navbar-brand:hover {
    background: rgba(255, 255, 255, 1);
    color: #000;
  }
  .lead {
    font-size: 18px;
    font-weight: 400;
  }
  /*top background*/

  .intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    /*color: #f8f8f8;*/
    background: #66ffcc;
    background: linear-gradient(120deg, #8217b7,#edaa9c);

    background: linear-gradient(120deg, #0fa9a8,#bb58df);

    /*background: linear-gradient(120deg, #0da16e,#e7dd4b);*/

    background: linear-gradient(120deg, #e02d6f,#fc963f);

    min-height: 90vh;
  }
  @media (max-height:400px) {
    .intro-header {
      height: 600px;
    }
  }
  @media (orientation:portrait) {
    .intro-header {
      height: auto;
    }
  }
  @media (orientation:landscape) {
    .intro-header {
      height: auto;
    }
  }
  .intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 7%;
  }
  /*Big header*/

  .intro-message > h1 {
    margin-top: -50px;
    text-shadow: 2px 1px 2px #000;
    font-size: 5em;
    color: rgba(195, 182, 0, 1);
  }
  .intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  /*small header*/

  .intro-message > h2 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    color: black;
    opacity: 0.6;
  }
  .intro-message > h3 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    color: black;
    opacity: 0.6;
  }
  @media (max-width:991px) {
    .intro-message {
      padding-bottom: 15%;
    }
    .intro-message > h1 {
      font-size: 5em;
    }
    ul.intro-social-buttons > li {
      display: block;
      margin-bottom: 20px;
      padding: 0;
    }
    ul.intro-social-buttons > li:last-child {
      margin-bottom: 0;
    }
    .intro-divider {
      width: 100%;
    }
  }

  /*line*/

  hr.intro-divider {
    border: 1px outset rgba(255, 255, 255, 0.2);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    width: 100%;
  }
  /* social buttons */

  .btn {
    display: inline-block;
    color: #000;
    border: 2px solid rgba(0, 0, 0, 0.9);
    opacity: 1;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 20);*/
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    font-weight: bold;
  }
  .btn:hover {
    color: #000;
    background: #C0C0C0;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: crosshair;
    overflow: hidden;
    outline: none;
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    transition: 0.2s;
    /*text-shadow: 1px 1px 1px rgba(0, 0, 0, 20);*/
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
  }
  .sideBtn {
    background-color: rgba(195, 182, 0, 1);
  }
  .refprosharer {
    position: fixed;
    right: 0;
    top: 300px;
    z-index: 1000;
    width: 65px;
    height: auto;
    border-left-width: 0;
    text-align: center;
    -webkit-border-radius: 7px 0px 0px 7px;
    -moz-border-radius: 7px 0px 0px 7px;
    border-radius: 7px 0px 0px 7px;
  }
  .sideBtn:hover {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 2px outset black;
    transform: scale(1);
  }
  .refHomeLeft {
    position: fixed;
    left: 0;
    top: 350px;
    z-index: 1000;
    width: 65px;
    height: auto;
    border-left-width: 0;
    text-align: center;
    -webkit-border-radius: 7px 0px 0px 7px;
    -moz-border-radius: 7px 0px 0px 7px;
    border-radius: 7px 0px 0px 7px;
  }
  .refHomeDown {
    position: fixed;
    right: 100px;
    bottom: 0px;
    z-index: 1000;
    width: 65px;
    height: auto;
    border-left-width: 0;
    text-align: center;
    -webkit-border-radius: 7px 0px 0px 7px;
    -moz-border-radius: 7px 0px 0px 7px;
    border-radius: 7px 0px 0px 7px;
  }
  .navBtn{
    background-color: rgba(195, 182, 0, 1);
  }
  .navBtn:hover,
  .navBtn:focus{
    color: rgba(195, 182, 0, 1);
    transform: scale(1.3);
  }
   .navBtn:active:hover{
    color: rgba(195, 182, 0, 1);

    transform: scale(1.3);
  }
  /* about section 2*/

  .content-section-a {
    padding: 50px 0 100px 0;
    /*background: url('vodaRes.jpg') no-repeat center center fixed;*/
    /*background: #8EC9C9 ;*/
    background: #40c9c9 ;
    /*background-size: cover;*/
    background-color: rgba(195, 182, 0, 0.79);
    background: linear-gradient(120deg, #8217b7,#edaa9c);
    height: auto;
  }
  @media (max-height:400px) {
    .content-section-a {
      height: 600px;
      height: auto;
    }
  }
  @media (orientation:portrait) {
    .content-section-a {
      height: auto;
    }
  }
  /*self-taught*/

  .link {
    color: black;
    font-weight: bold;
    font-size: 20px;
  }
  .link:hover {
    color: silver;
    font-weight: bold;
    font-size: 20px;
  }
  /* portfolio text */

  h2.section-heading {
    margin-top: 100px;
    font-size: 3em;
    letter-spacing: 0.3em;
    color: rgba(237, 200, 103, 0.91);
    text-shadow: 2px 1px 2px #000;
  }
  p#below-section {
    font-size: 2em;
    color: #000;
    opacity: 0.9;
    margin-bottom: 30px;
  }
  /*text*/

  .content-section-a p {
    font-size: 22px;
    color: #000;
  }
  .content-section-a p a {
    color: black;
    font-weight: bold;
  }
  /*profile img*/

  .img-circle {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    border: 3px solid rgba(210, 208, 208, 1);
    /*box-shadow: 0 0 0 10px rgba(102, 255, 204, 0.88);*/
    box-shadow: 0 0 0 10px #0fa9a8;

  }
  /* Portfolio */

  section#portfolio {
    background-color: rgba(237, 200, 103, 0.91);
    /*background: url('travaRes.jpg') no-repeat center center fixed;*/
    /*background-size: cover;*/
    background: linear-gradient(120deg, #0fa9a8,#bb58df);
  }
  section#portfolio h2.section-heading {
    margin-top: 100px;
    font-size: 3.5em;
    letter-spacing: 0.3em;
    color: white;
    text-shadow: 2px 1px 2px #000;
  }
  @media (max-width:480px) {
    section#portfolio h2.section-heading {
      font-size: 3em;
    }
  }
  section#portfolio p {
    letter-spacing: 0.04em;
    color: white;
    text-shadow: 2px 1px 2px #000;
  }
  /*Portfolio holder*/

  #blurBg {
    background: url('travaRes.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    position: absolute;
    width: 100%;
    height: 100%;
  }
  #portfolio .portfolio-item {
    margin: 0 0 15px;
    right: 0;
    border: 0px outset rgba(255, 255, 255, 0.6);
  }
  #portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(0, 0, 0, .7);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 1s;
    -webkit-transition: all ease 1s;
    -moz-transition: all ease 1s,
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
    -webkit-filter: blur(5px);
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -32px;
    color: #fff;
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-bottom: auto;
    color: rgba(237, 200, 103, 0.91);
  }
  #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3, #portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
  }
  #portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 25px;
  }
  #portfolio .portfolio-item .portfolio-caption h4 {
    color: #fff;
    text-transform: none;
    margin: 0;
  }
  #portfolio .portfolio-item .portfolio-caption p {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 13px;
    margin: 0;
  }
  #portfolio * {
    z-index: 2;
  }
  @media (min-width:767px) {
    #portfolio .portfolio-item {
      margin: 0 0 30px;
    }
  }
  .section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
  }
  .banner {
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: rgba(189, 254, 49, 0.7);
    background: linear-gradient(20deg, #0da16e,#e7dd4b);
    min-height: 40vh;
  }
  @media (max-height:400px) {
    .banner {
      height: 400px;
    }
  }
  .banner ul {
    margin-bottom: 0;
  }
  .banner-social-buttons {
    float: right;
    margin-top: 0;
  }
  @media(max-width:1199px) {
    ul.banner-social-buttons {
      float: left;
      margin-top: 15px;
    }
  }
  ul.banner-social-buttons > li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons > li:last-child {
    margin-bottom: 0;
  }
  h2.connect {
    margin: 50px;
    font-size: 3em;
    color: rgba(237, 200, 103, 0.91);
    text-shadow: 2px 1px 2px #000;
  }
  p.connect {
    margin: 50px;
    font-size: 2em;
    letter-spacing: 0.12em;
    color: rgba(237, 200, 103, 0.91);
    text-shadow: 2px 1px 2px #000;
  }
  @media (max-width:767px) {
    h2.connect {
      margin: 10px;
      font-size: 2.5em;
      color: rgba(237, 200, 103, 0.91);
    }
    p.connect {
      margin: 10px;
      font-size: 2em;
      letter-spacing: 0.07em;
      color: rgba(237, 200, 103, 0.91);
    }
  }
  @media (orientation:landscape) {
    .banner {
      padding-top: 50px;
      height: auto;
    }
  }
  footer {
    padding-top: 25px;
    padding-bottom: 25px;
    background: rgb(28, 28, 28);

  }
  p.copyright {
    margin: 0 25px 0;
    float: right;
  }
  .whiteText a, p, li {
    color: white;
  }
  .small-text {
    color: white;
  }
  @media (orientation: landscape)and (max-width: 640px) {
    .refprosharer {
      opacity: 0.0;
      display: none;
    }
    .refprosharer:hover {
      opacity: 0.0;
      display: none;
    }
  }
  @media (max-width:640px) {
    .refprosharer {
      display: none;
    }
    .refprosharer:hover {
      opacity: 0.0;
      display: none;
    }
  }
